
#top {
    position: relative;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: fixed; /* Fixa a posição na tela, ignorando a rolagem */
    bottom: 10px; /* Alinha a parte inferior da div com a parte inferior da viewport */
    left: 20px; /* Alinha a esquerda da div com a esquerda da viewport */
    width: 98%; /* Garante que ocupe a largura total da tela */
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    padding: 5px;
}

.left_content {
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


